SECRET_KEY=django-insecure-vpoh$-)yzr9wl(nu**u@2&11%_0ir&a9ytl4)xgaha503)-m=$
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

MYSQL=False
DB_USERNAME=adminuser
DB_PASSWORD=secrtpasswod
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_name
